@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(48,48,48);
  background: linear-gradient(349deg, rgba(48,48,48,1) 0%, rgba(77,8,136,1) 0%, rgba(48,48,48,1) 52%);
  height: 100vh;
}