@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #fff;
  color: #000;
}
::-moz-selection {
  background: #fff;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(48, 48, 48);
  height: 100vh;
  flex-wrap: wrap;
  --left: 0px;
  --top: 0px;
	-webkit-animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
body::before {
  content: "";
  background: rgba(77, 8, 136, 1);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;

  position: absolute;
  left: var(--left);
  top: var(--top);
  transform: translate(-50%, -50%) scale(2);
  z-index: -10;

  filter: blur(50px);

  transition: opacity 0.3s;
}
body:hove::before {
  opacity: 1;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

