.borderOrange {
    display: flex;
    border-bottom: #ff3500 solid 6px;
    height: 80px;
}

.logoprosipe {
    width: 200px;
}

.GerenColor {
    color: white;
    text-decoration: none;
}

.GerenColor:hover {
    color: #ff3500;
}