*, body {
    gap: 8px;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}
.containerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10vw;
}
.containerTop img {
    width: 5rem;
}
.containerSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10vw;
}
.containerSocial img {
    width: 3.5rem;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: min(60ch, 100%);
}

@media screen and (max-width: 800px) {
    .containerTop {
        padding-right: 1rem;
    }
    .containerSocial {
        padding-left: 2rem;
    }
}