section {
  margin-inline: auto;
  width: min(120ch, 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
}

#paper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 3%;
  color: #fff;
  background-color: #3c3c3c;
}

.imageProfile {
  width: auto;
  height: 500rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.topic1 {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.studyArea {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.linkTopic {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}