.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bannerHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bannerHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 80%;
}

#midText1 {
  display: flex;
  position: absolute;
  top: 30%;
  left: 20%;
  color:#fff;
  font-size: 4rem;
  font-weight: 900;
  z-index: 2;
}

#midText2 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 20%;
  color:#fff;
  font-size: 2rem;
  z-index: 2;
}

.home1 {
  width: 97%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 1.5%;
  z-index: 3;
}

#paper {
  padding: 1em;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(200%) blur(30px);
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
}
