.homeConteiner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
}
.textHeader{
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(48, 48, 48);
  font-size: 9vw;
  font-weight: 900;
  filter: drop-shadow(1px 1px 10px #f7f7f7);
  width: 100%;
  height: auto;
}
.presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;
}
.topicContainer {
  margin-top: 5rem;
}
.upArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upArrow2 {
  bottom: 0;
  border-radius: 50px;
  padding: 5px;
  border: solid 2px;
  -webkit-animation: text-shadow-pop-bottom 0.6s
    cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite alternate both;
  animation: text-shadow-pop-bottom 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045)
    infinite alternate both;
}
.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
  }
}

@-webkit-keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555,
      0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555,
      0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
