@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #666666;
  color: #000;
}
::-moz-selection {
  background: #666666;
  color: #000;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  width: 10px;
  background-color: #666666;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
  z-index: 2;
}